:host {
  display: block;
}

.contCounters {
  background: var(--second-color);
  background-size: 100%;
  background-position-y: center;
}

.tittleCont {
  color: var(--first-color);
  display: inline-block;
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
}

.contCounters .contCount {
  color: var(--first-color);;
  width: 33.33%;
  height: 10rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.contCounters .contCount .number {
  height: 50%;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  align-content: center;
}

.contCounters .contCount .layout {
  height: 50%;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  align-content: baseline;
}

.contCounters .contCount .layout:nth-child(1) {
  padding-top: 20px;
}