<div class="contCounters">
  <span class="text-2xl font-semibold tittleCont">
    <h3>Nuestros servicios</h3>
  </span>
  <div class="contCount cont1">
    <div class="countRounded">
      <span class="number">{{ contKil.toLocaleString('en-US') }}</span>
    </div>
    <span class="layout">Kilómetros recorridos</span>
  </div>
  <div class="contCount cont2">
    <div class="countRounded">
      <span class="number">{{ contlit.toLocaleString('en-US') }}</span>
    </div>
    <span class="layout">Litros de agua entregados</span>
  </div>
  <div class="contCount cont3">
    <div class="countRounded">
      <span class="number">{{ contMani.toLocaleString('en-US') }}</span>
    </div>
    <span class="layout">Maniobras de maquianria</span>
  </div>
</div>