:host {
  display: block;
}

.color-carousel{
  overflow: hidden;
  height: calc(100vh - 96px);
}

.img-carousel-color{
  width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
