<div class="flex space-x-4">
  <!-- Items del menu -->
   @for (item of menuItems; track item.id) {
    <div class="relative group">
      <a
        [routerLink]="item.route"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="bg-gray-950/50 text-white"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white inline-flex items-center">
        {{item.name}}
      </a>
      @if (item.subItems) {
        <div class="submenu">
          @for (subItem of item.subItems; track subItem.id) {
            <a
              [routerLink]="subItem.route"
              class="block px-4 py-2 text-sm text-gray-200 hover:bg-white/10 hover:text-white">
              {{subItem.name}}
            </a>
          }
        </div>
      }
    </div>
   }
</div>
