<main>
  <div class="pt-6 px-4">
    <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
      <!-- Contenedor del formulario para las cotizaciones -->
      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex flex-wrap items-center justify-between mb-4">
          <div class="w-full">
              <div class="flex text-[#575757]">
                <i class="fa-solid fa-satellite mr-4 py-1"></i><h3 class="text-xl font-bold mb-2">Nueva cotización</h3>
              </div>
              <span class="text-base font-normal text-gray-500">Aqui podras seleccionar el origen y destino asi como los puntos intermedios para realizar la cotización</span>
          </div>
          <!-- div contenedor del formulario -->
          <div class="flex mt-8 w-full">
            <form class="bg-white w-full price-form">
              <div class="flex items-center price-content-input py-2 px-3 price-rounded">
                <i class="fa-solid fa-map-pin price-form-icon"></i>
                <input
                  class="pl-2 mr-3 outline-none border-none w-full"
                  type="text"
                  name="origen"
                  [value]="origen()"
                  (input)="origen.set(origentxt.value)"
                  (keyup.enter)="validateOrigen()"
                  placeholder="Origen"
                  #origentxt
                />
                <button
                  (click)="validateOrigen()"
                  type="button"
                  class="px-4 py-1 price-no-margin hover:bg-[#C93636] bg-[#8C2626] cursor-pointer price-rounded text-white">
                  {{botonOrigenTitulo()}}
                </button>
              </div>
              @if (errorOrigen() !== "") {
                <span class="flex items-center font-medium tracking-wide text-red-500 text-xs ml-1">
                  {{errorOrigen()}}
                </span>
              }
              @if (origenResponse().length > 0) {
                <div class="max-w-lg mx-auto mt-2">
                  <div class="content-destines bg-white rounded-lg border border-gray-200 w-full text-gray-900 text-sm font-medium">
                    @for (origen of origenResponse(); track origen.id_dest; let i = $index) {
                      <a
                        (click)="selectOrigen(origen)"
                        [class]="'block px-4 py-2 w-full hover:bg-gray-100 hover:text-[#8C2626] cursor-pointer' + (i !== origenResponse().length - 1 ? ' border-b border-gray-200' : '')">
                          <h3 class="">{{i + 1}} - {{origen.nombre}}</h3>
                          <p class="text-xs text-[#575757]">{{origen.ent_abr}}</p>
                      </a>
                    }
                  </div>
                </div>
              }
              <div class="flex items-center price-content-input py-2 px-3 price-rounded mt-4">
                <i class="fa-solid fa-map-pin price-form-icon"></i>
                <input
                  class="pl-2 outline-none border-none w-full"
                  type="text"
                  name="destino"
                  [value]="destino()"
                  (input)="destino.set(destinotxt.value)"
                  placeholder="Destino"
                  #destinotxt
                />
                <button
                  (click)="searchDestino()"
                  type="button"
                  class="px-4 py-1 price-no-margin hover:bg-[#C93636] bg-[#8C2626] cursor-pointer price-rounded text-white">
                  Buscar
                </button>
              </div>
              <!-- <button
                type="button"
                class="block w-3/5 hover:bg-[#C93636] bg-[#8C2626] cursor-pointer mt-4 py-2 price-rounded text-white font-semibold mb-2">
                Cotizar
              </button> -->
            </form>
          </div>
        </div>
      </div>
      <!-- ------------------------------Separador------------------------------ -->
      <!-- Contenedor para mostrar el mapa -->
      <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 2xl:col-span-2">
        <div class="flex items-center justify-between mb-4">
          <div class="flex-shrink-0">
            <div class="flex text-[#575757]">
              <i class="fa-solid fa-map-location mr-4 py-1"></i><h3 class="text-xl font-bold mb-2">Mapa</h3>
            </div>
            <span class="text-base font-normal text-gray-500">Aqui se mostraran los puntos seleccionados</span>
          </div>
        </div>
        <!-- Div contenedor del mapa -->
        <div id="main-chart">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</main>
