<section class="py-24 flex items-center content-testimonial">
    <div class="container mx-auto px-4">
        <div class="flex flex-col lg:flex-row items-center justify-between">
            <!-- Text Content -->
            <div class="mb-8 lg:mb-0 lg:w-1/2">
                <h2 class="text-3xl font-semibold mb-2">Lorem ipsum <span class="text-blue-700 underline underline-offset-4">dolor</span> sit amet, consectetur adipiscing elit. </h2>
                <p class="font-light">Some descriptive text here!</p>
                <!-- Social Icons -->
                    <div class="flex gap-3 mt-2">
                        <a href="https://www.linkedin.com/in/" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://twitter.com/" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://github.com/" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://discordapp.com/" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                            <i class="fa-brands fa-discord"></i>
                        </a>
                    </div>
            </div>
            <!-- Testimonial -->
            <div class="max-w-xl">
                <div class="bg-gray-400 p-6 rounded-lg shadow-xl">
                    <p class="text-lg">
                        Lorem ipsum sit amet, consectetur adipiscing elit. Magni assumenda officiis sit amet itaque eveniet accusantium corporis tempora.
                    </p>
                    <!-- -->
                    <div class="flex mt-4 justify-end">
                        <div class="w-14 h-14 mr-4 md:w-16 md:h-16">
                            <img class="rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRreh9Fwfj6mP6s9CINDCpfUXmi6OrRXJoD8fFI7BV01mzbbC1FhW5MLGQZYgH9PJ8UhC0&usqp=CAU" alt="John Doe Profile Picture">
                        </div>
                        <div class="md:text-lg">
                            <div class="flex flex-row">
                                <p class="font-semibold mr-2">
                                    John Doe
                                </p>
                                <div class="flex gap-3">
                                    <a href="#" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                    <a href="#" class="dark:hover:text-blue-500 transition-colors duration-75" target="_blank">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </div>
                            </div>

                            <p class=" text-sm">
                                CEO | <!-- Job Title -->
                                <a href="#" class="hover:underline hover:cursor-pointer hover:text-blue-500 transition-colors duration-75">
                                    Tech Company Z <!-- Company -->
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
